#---------------------------------
# Directories
#---------------------------------
**/node_modules/
package-lock.json

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
.git
*.iml
.vscode/

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db